<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="theme-color" content="#252525">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="{{ data.description }}">
		{{#if meta.categories}}<meta name="keywords" content="{{join meta.categories }}">{{else if data.keywords}}<meta name="keywords" content="{{join data.keywords}}">{{/if}}{{#if data.facebookcomments}}<meta property="fb:app_id" content="{{ data.facebookcomments }}"/>{{/if}}{{#if post}}{{#if amppages}}<link rel="amphtml" href="{{ canonical }}amp/">{{/if}}{{/if}}
		<meta http-equiv="Content-Security-Policy" content="default-src 'self'; child-src 'none'; frame-src disqus.com *.addthis.com; object-src 'none'; font-src 'self' fonts.google-apis.com fonts.gstatic.com; style-src 'self' fonts.googleapis.com *.addthis.com google-analytics.com *.disquscdn.com *.disqus.com 'unsafe-inline'; script-src 'self' localhost:* *.addthis.com *.google-analytics.com *.disquscdn.com *.disqus.com disqus.com *.addthisedge.com graph.facebook.com 'unsafe-inline' 'unsafe-eval'; connect-src 'self' ws://localhost:*; img-src 'self' *.google-analytics.com *.disquscdn.com *.disqus.com stats.g.doubleclick.net">
		<link rel="canonical" href="{{ canonical }}">
		<link href="/opensearch.xml" rel="search" title="Matthew Daly's Blog Search" type="application/opensearchdescription+xml">
		<link href="/favicon.ico" rel="icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif" media="all" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.min.css" media="all" />
		<link rel="alternate" type="application/rss+xml" title="{{capitalize data.title}} - feed" href="/rss.xml" />
		<link rel="alternate" type="application/atom+xml" title="{{capitalize data.title}} - feed" href="/atom.xml" />
		<link rel="pingback" href="https://webmention.io/matthewdaly.co.uk/xmlrpc" />
		<link rel="webmention" href="https://webmention.io/matthewdaly.co.uk/webmention" />
		<title>{{#if meta.title}}{{capitalize meta.title}} - {{/if}}{{capitalize data.title}}</title>
	</head>
	<body>

		<!-- Go to www.addthis.com/dashboard to customize your tools -->
		{{#if data.addthis}}<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ data.addthis }}" async="async"></script>{{/if}}

		<header>
			<div class="container headercontainer">
				<div class="jumbotron">
					<h1><a href="/">{{capitalize data.title}}</a></h1>
					<h2>{{ data.description }}</h2>
				</div>
			</div>
			<div class="container headercontainer">
				<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item active">
								<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="/blog/archives/">Archives</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="/about/">About</a>
							</li>
							<li class="nav-item active">
								<a class="nav-link" href="/rss.xml">RSS</a>
							</li>
							<li class="nav-item dropdown d-lg-none">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="navbar-toggler-icon"></span>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/">Home</a>
									<a class="dropdown-item" href="/blog/archives/">Archives</a>
									<a class="dropdown-item" href="/about/">About</a>
									<a class="dropdown-item" href="/rss.xml">RSS</a>
								</div>
							</li>
						</ul>
						<form class="form-inline my-2 my-lg-0" action="https://www.google.com/search" method="GET" name="searchForm" id="searchForm" enctype="application/x-www-form-urlencoded">
							<input type="hidden" id="sitesearch" value="{{ domain }}" />
							<input class="form-control mr-sm-2" id="search" name="q" maxlength="200" autocomplete="off" type="search" placeholder="Search" aria-label="Search">
						</form>
					</div>
				</nav>
			</div>
		</header>
