<div class="col-md-4">
    <h1>Recent Posts</h1>
    {{#each recent_posts}}
    <p><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></p>
    {{/each}}
    <section>
       <h2>About me</h2>
       <p>I'm a web and mobile app developer based in Norfolk. My skillset includes Python, PHP and Javascript, and I have extensive experience working with CodeIgniter, Laravel, Zend Framework, Django, Phonegap and React.js.</p>
    </section>
    <section id="links">
       <h2>Links</h2>
       <a href="https://github.com/{{ data.github }}" rel="me">GitHub</a>
       <a href="https://twitter.com/{{ data.twitter }}" rel="me">Twitter</a>
       <a href="http://stackoverflow.com/users/{{ data.stackoverflow }}">Stack Overflow</a>
   </section>
</div>
