{{> header }}

<div id="mainbody" class="container">
    <div class="row">
        <div class="col-md-8">
{{#each posts}}
    <article class="post">
        <p class="date">{{ this.meta.formattedDate }}</p>
        <h1><a href="{{ this.path }}">{{capitalize this.meta.title}}</a></h1>
        {{{ this.post.content }}}
    </article>
{{/each}}
        </div>
        {{> sidebar }}
    </div>
    <div class="row">
        <div class="col-md-12">
             <ul class="pagination">
            {{#if prevChunk}}
                <li class="page-item">
                    <a class="page-link" href="/posts/{{ prevChunk }}/">Newer</a>
                </li>
            {{/if}}

            {{#if nextChunk}}
                <li class="page-item">
                    <a class="page-link" href="/posts/{{ nextChunk }}/">Older</a>
                </li>
            {{/if}}
             </ul>
        </div>
    </div>
</div>
{{> footer }}
