{{> header }}

<div id="mainbody" class="container">

    {{#if data.facebookcomments }}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    {{/if}}

    <div class="row">
        <div class="col-md-8">
            <article class="post">
                <p class="date">{{ this.meta.formattedDate }}</p>
                <h1>{{capitalize meta.title}}</h1>
                {{{ post.content }}}
                <ul class="categorylist">{{#each meta.categories }}<li><a href="/blog/categories/{{ linkformat this }}/">{{ this }}</a></li>{{/each}}</ul>
                {{#if data.addthis}}<div class="addthis_sharing_toolbox"></div>{{/if}}
              {{#if meta.comments }}
              <section class="comments">
                  {{#if data.disqus }}
                  <div id="disqus_thread"></div>
                  <script>
                     var disqus_config = function () {
                        this.page.url = "{{ canonical }}";
                        this.page.identifier = "{{ canonical }}";
                     };
                  (function() { // DON'T EDIT BELOW THIS LINE
                     var d = document, s = d.createElement('script');
                     s.src = 'https://matthewdaly.disqus.com/embed.js';
                     s.setAttribute('data-timestamp', +new Date());
                     (d.head || d.body).appendChild(s);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                {{/if}}
                {{#if data.facebookcomments }}
                <div class="fb-comments" data-href="{{ data.url }}{{ path }}/" data-width="470" data-num-posts="10"></div>
                    </div>
                {{/if}}
              </section>
              {{/if}}
            </article>
        </div>
        {{> sidebar }}
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul class="pagination">
                {{#if prev}}
                <li><a class="page-item" href="{{ prev.path }}"><span class="glyphicon glyphicon-chevron-left"></span> {{capitalize prev.title}}</a></li>
                {{/if}}
                {{#if next}}
                <li><a class="page-item" href="{{ next.path }}">{{capitalize next.title}} <span class="glyphicon glyphicon-chevron-right"></span></a></li>
                {{/if}}
            </ul>
        </div>
    </div>

</div>

{{> footer }}
